---
import MainLayout from "../../layouts/MainLayout.astro";

export const prerender = false;

const { id } = Astro.params;
---

<MainLayout title="Home">
	<div hx-trigger="load" hx-get=`/htmx/todo/${id}` hx-select="#todo-item" hx-swap="outerHTML"></div>
</MainLayout>
