---
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="en" transition:animate="fade">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro - {title}</title>
		<ViewTransitions />
	</head>
	<body>
        <section>
            <slot />
        </section>

		<script src="https://unpkg.com/htmx.org@1.9.5"></script>
	</body>
</html>
